/* COMMON */
.summary__title {
    font-size: 34px !important;
}

.summary__description {
    font-size: 22px;
}

/* FEATURE */
.section--feature .tiles li {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #e5e5e5;
}

/* WHERE IS */
#map {
    /* 100%와 auto는 엄밀히 말하면 다름 */
    /* 100%는 부모요소의 padding에 영향을 받기 때문에 auto를 사용 */
    width: auto;
    margin: 40px -20px 0 -20px;
    border-left: none;
    border-right: none;
}

/* PRICING */
.section--pricing .card {
    display: block;
}

.section--pricing .card .cell2 {
    border-left: none;
    border-top: 1px solid #e5e5e5;
}

/* FOOTER */
footer .site-links {
    float: none;
    text-align: center;
    display: block;
}

footer .site-links:first-child {
    margin-bottom: 20px;
}

footer .site-links li {
    display: inline;
}